@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "../images/favicon.ico";
@import "../images/iconmonstr-github-3.svg";
@import "../images/iconmonstr-instagram-13.svg";
@import "../images/iconmonstr-facebook-3.svg";

:root {
    --color-purple: #7159C1;
    --color-launchbase: #FD951F;
    --color-gosatck: #04D361;
}
*{
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background: white;
    font-family: 'Roboto', sans-serif;
    margin:0;
}
header {
    padding: 30px;
    background:#1C1C1C; 
    border-bottom: 2px solid var(--color-purple);              
}
.links {
    text-align:center;
}
.links a {
    color:rgb(226, 217, 217);
    text-decoration:none;
    font-size:20px;
    margin: 0 30px;
}
.links a:hover {
    color: var(--color-purple);
    transition: 300ms;
}
#content {
    border-bottom: 1px solid var(--color-purple);
}
#about {
    border-bottom: 1px solid var(--color-purple);
}
.content {
    text-align: center;
    padding: 32px;
    color: #1C1C1C;
}
.content img {
   border-radius: 50%;
   border: 2px solid white;
   height: 100px;
}
.content img:hover {
    border: 2px solid rgb(8, 1, 1);
 }
.content h1 {
    color: var(--color-purple);
}
.content p {
    max-width: 450px;
    margin: 23px auto;
}
#tecnologias {
    text-align: start;
    text-decoration: none;
    width: 100px;
    margin: 50px 100px 70px 43%;
}
#links-footer a {
    font-size: 16px;
    color: black;
}
#links-footer a:hover {
    color:var(--color-purple);
    transition: 300ms;
}
/*--CARDS--*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    margin: auto;
    max-width: 1000px;
    gap:25px;
}
.card {
    background-color: black;
    border-radius: 5%;
    border: 2px solid #1C1C1C;
    align-items: center;
    color: white;
}
.card:hover {
    cursor: pointer;
}
#starter:hover {
    border: 2px solid var(--color-purple);
}
#launchbase:hover {
    border: 2px solid var(--color-launchbase);    
}
#gostack:hover {
    border: 2px solid var(--color-gosatck);
}
.card_number {
    border-radius: 50%;
    text-align: center;
    margin: 30px 125px;
    font-size: 15px;
    padding: 15px ;
}
#starter .card_number{    
    border: 3px solid var(--color-purple);  
    color: var(--color-purple);  
}
#launchbase .card_number{    
    border: 3px solid var(--color-launchbase);
    color: var(--color-launchbase); 
}
#gostack .card_number{    
    border: 3px solid var(--color-gosatck);  
    color:var(--color-gosatck);
}
.card_image {
    margin: 20px 0 0 105px;
}
#launchbase .card_image {
    margin: 20px 10px 0 70px;
}
#gostack .card_image {
    margin: 20px 10px 0 90px;
}
.card_image img {
    width: 50%;
}
#launchbase .card_image img {
    width: 75%;
}
#gostack .card_image img {
    width: 60%;
}
.card_content , .card_info {
    padding: 25px;
}
.card_content {
    color: white;
    text-align: center;
}
#starter .card_content p strong {
    color: var(--color-purple);
}
#launchbase .card_content p strong {
    color: var(--color-launchbase);
}
#gostack .card_content p strong {
    color: var(--color-gosatck);
}
.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align:center
}
.card_situation {
    border-radius: 20px;
    text-align: center;
}
#starter .card_situation {
    background-color: var(--color-purple);
}
#launchbase .card_situation {
    background-color: var(--color-launchbase);
}
#gostack .card_situation {
    background-color: var(--color-gosatck);
}
/*--MODAL--*/
.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal {
    background-color: white;
    width: 75%;
    height: 75%;
    margin: 5vh auto;
    position: relative;
}
/*--CLOSE & MAXIMIZE MODAL--*/
.modal .close-modal , .modal .max-modal {
    color: black;
    position: absolute;
    top: 8px;
    cursor: pointer;
}
.modal .close-modal  {
    right: 8px;    
}
.modal .max-modal {
    right: 40px;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal-overlay.maximize .modal {
    background-color: white;
    width: 95%;
    height: 95%;
    margin: 3vh auto;
    position: relative;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5vh;
}
.modal-overlay.maximize iframe {
    width: 100%;
    height: 95%;
    position: absolute;
    top:  5vh;

}